
border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments


body
  background #FFF

.screenbox
  width 1024px
  height 768px
  border 1px solid black


